<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if record_list %}
    <table>
        <tr>
        <th>User</th>
        <th scope="col">Weekly Goals</th>
        <th scope="col">Daily Goals</th>
        <th scope="col">Verify Goals</th>
        <th scope="col">Done Goals</th>
        </tr>
        <tr>
        <td>{{record_list.user.first_name}}</td>
        <td>{{record_list.goal_name}}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{record_list.goal_id}}</td>
        </tr>
        </table>
        {% endif %}
</body>
</html>