<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <table>
            <thead>
                <tr>
                        <th>User</th>
                        <th scope="col">Weekly Goals</th>
                        <th scope="col">Daily Goals</th>
                        <th scope="col">Verify Goals</th>
                        <th scope="col">Done Goals</th>
                </tr>
            </thead>
                {% for usr in All_Users %}
                <tr>
                    <td>{{usr.username}}</td>
                    {% for tasks in usr.users.all %}
                    {% if tasks.goal_status.status_name == "Weekly Goal" %}
                    <td>{{tasks.goal_name}}</td>
                    {% elif tasks.goal_status.status_name == "Daily Goal" %}
                    <td>{{tasks.goal_name}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
        <tr>
            <td></td>
            <td></td>
        </tr>
        </table>
</body>
</html>